<a href="https://colab.research.google.com/github/fabinrobertson/PythonPJP/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
MyList1=[10,20,30,40,50]
for i in range(0,5):
	print(MyList1[i], end=" ")
print("\nThird element:\t",MyList1[2])
print("Fifth element:\t",MyList1[4])

10 20 30 40 50
Third element:	 30
Fifth element:	 50

In [ ]:
MyList1=[10,20,30,40,50]
MyList1.append(60)
print(MyList1)

[10, 20, 30, 40, 50, 60]

In [ ]:
MyList1=[10,20,30,40,50]
MyList1.reverse()
print(MyList1)

[50, 40, 30, 20, 10]

In [ ]:
MyList1=[10,20,30,40,50]
item=int(input("Enter the element:\t"))
count=MyList1.count(item)
print("No of times",item,"in MyList1:\t",count)

Enter the element:	20
No of times 20 in MyList1:	 3

In [ ]:
MyList1=[10,20,30,40,50]
MyList2=[11,21]
print(MyList1)
print(MyList2)
for i in range(0,len(MyList2)):
  MyList1.insert(i,MyList2[i])
print("List after insertion: ",MyList1)

[10, 20, 30, 40, 50]
[11, 21]
List after insertion:  [11, 21, 10, 20, 30, 40, 50]

In [ ]:
MyList2=[11,21]
print(MyList2)
item=int(input("Enter new element:\t"))
MyList2.insert(1,item)
print("New List: ",MyList2)

[11, 21]
Enter new element:	36
New List:  [11, 36, 21]

In [ ]:
MyList1=[10,20,30,40,50]
print(MyList1)
index=int(input("Enter index of element to be deleted: "))
MyList1.pop(index-1)
print("List after removal: ",MyList1)

[10, 20, 30, 40, 50]
Enter index of element to be deleted: 3
List after removal:  [10, 20, 40, 50]

In [ ]:
MyList1=[10,20,30,10,40,10,50]
print(MyList1)
item=int(input("Enter the element: "))
MyList1.remove(item)
print("List after removal: ",MyList1)

[10, 20, 30, 10, 40, 10, 50]
Enter the element: 10
List after removal:  [20, 30, 10, 40, 10, 50]