<a href="https://colab.research.google.com/github/fabinrobertson/PythonPJP/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mySet={1,2,3,4}
item = int(input("Enter item to remove: "))
print("i/p: ",mySet)
if item in mySet:
  mySet.remove(item)
  print("o/p: ",mySet)
else:
  print("item not in set")

Enter item to remove: 4
i/p:  {1, 2, 3, 4}
o/p:  {1, 2, 3}

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(f"set1 = {set1}\nset2 = {set2}")
set3=set1.intersection(set2)
print("intersection = ",set3)

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection =  {2, 3}

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(f"set1 = {set1}\nset2 = {set2}")
set3=set1.union(set2)
print("union = ",set3)

set1 = {1, 2, 3}
set2 = {2, 3, 4}
union =  {1, 2, 3, 4}

In [ ]:
mySet={1,2,3,4,5}
min=1000
max=0
for i in mySet:
  if(i<min):
    min=i
  if(i>max):
    max=i
print(f"min={min}\nmax={max}")

min=1
max=5